@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost";
}

.swiper-vertical > .swiper-pagination-bullets,
.swiper-pagination-vertical.swiper-pagination-bullets {
  right: var(--swiper-pagination-right, 8px);
  left: var(--swiper-pagination-left, auto);
  bottom: -40%;
  transform: translate3d(0px, -50%, 0);
}

.swiper-vertical > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-vertical.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: var(--swiper-pagination-bullet-vertical-gap, 6px) 0;
  display: block;
  background-color: rgb(115, 3, 3);
}

body.activedesktop {
  margin-top: 522px;
  transition: all 0.5s ease;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  font-size: 20px;
  background-color: gray;
}

.tooltip-arrow {
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #333;
  content: "";
}

@layer components {
  .sidebar_active {
    @apply bg-backColor w-[251px] min-h-screen fixed top-0 left-0 transition-transform duration-300;
  }
  .dashboard_active {
    @apply flex items-center justify-between hover:text-white cursor-pointer  transition-colors duration-300;
  }

  .sidebar_active_text {
    @apply hover:text-white transition-colors duration-300 ml-[25px] cursor-pointer text-[14px] mb-[5px];
  }
}

.custom-button {
  position: relative;
  background-color: black;
  color: white;
  padding: 0.75rem 3rem;
  border: 1px solid transparent;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  letter-spacing: 0.1em;
}
.custom-button:hover {
  background-color: white;
  color: #a53e4c;
}
.custom-button::before,
.custom-button::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 1px solid #a53e4c;
  transition: all 0.4s ease;
}

.custom-button::before {
  top: 0;
  left: 0;
  border-right: none;
  border-bottom: none;
}

.custom-button::after {
  bottom: 0;
  right: 0;
  border-left: none;
  border-top: none;
}

.custom-button:hover::before,
.custom-button:hover::after {
  width: 100%;
  height: 100%;
}

@keyframes spin-x {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.animate-spin-x {
  animation: spin-x 3s linear infinite;
}

@keyframes move-stripes {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

.striped-bg {
  background-image: repeating-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.3) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.3) 50%,
    rgba(255, 255, 255, 0.3) 75%,
    transparent 75%,
    transparent
  );
  background-size: 1rem 1rem;
  animation: move-stripes 50s linear infinite;
}

.grid {
  display: grid;
  transition: all 0.3s ease-in-out;
}

.grid-cols-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-cols-4 {
  grid-template-columns: repeat(4, 1fr);
}

.css-17v1qlu-MuiTypography-root {
  color: #a53e4c;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #a53e4c;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #902b3e;
}

html {
  scrollbar-width: thin;
  scrollbar-color: #a53e4c #f1f1f1;
}
